:root {
  --color-base: #1E1E1E;
  --color-primary: #FC2D19;
  --color-text: #E6E6E6;
}

body {
  background: rgb(170,170,170);
  background: radial-gradient(circle, rgba(70, 70, 70,1) 0%, rgba(0,0,0,1) 80%);
  font-family: 'Outfit', sans-serif;
  height: 100svh;
  line-height: 1.125;
  overflow: hidden;
  width: 100svw;
}

canvas {
  user-select: none;
}